bin/
.cm/
sources
*.o
*.d
# heap image
*.x86-linux
*.amd64-linux
# smlformat
bin/smlformat*
generator/mlton/smlformat*
# mlyacc
*.grm.sml
*.grm.sig
*.grm.desc
# mllex
*.lex.sml
# smlformat
*.ppg.sml
Makefile
